<form id="edit-form" class="form" method="get">
    <h2 class="form-title">Edit</h2>
    <div class="form-line">
        <input id="site-url" placeholder="Website name" type="url" required/>
    </div>
    <div class="form-line">
        <input id="site-title" placeholder="Website title" type="text" required/>
    </div>
    <div class="form-buttons">
        <button class="button avg-button" type="submit">Edit</button>
    </div>
    <input id="site-index" type="hidden" value="" required/>
    <input id="site-image" type="hidden" value="" required/>
</form>